@font-face {
    font-family: Montserrat;
    src: url(./fonts/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(./fonts/Roboto-VariableFont_wdth\,wght.ttf);
}


body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: rgb(211, 211, 211);
    color: aliceblue;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

main{
    flex: 1;
}

header {
    background-color: rgb(80, 80, 80);
    padding-top: 10px;
}

h1 {
    margin: 0;
    text-align: center;
}

footer {
    background-color: aliceblue;
    padding-bottom: 3px;
}


.team {
    display: inline-block;
    width: 110px;
    height: 132px;
    padding-top: 30px;
    vertical-align: top;
}

.team p{
    margin-top: 20px;
    width: 100px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.team img {
    width: 75px;
    height: 75px;
    object-fit: contain;
}

.scoreboard {
    width: 166px;
    display: inline-block;
    margin: 0;
    vertical-align: top;
    padding-top: 55px;
}

select {
    margin-top: 40px;
    width: 128px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    background-color: blue;
    color: aliceblue;
    border: 0px;
    border-radius: 8px;
}

option{
    background-color: rgb(1, 135, 83);
    color: aliceblue;
    border-radius: 8px;
}

option:hover{
    color: aliceblue;
    background-color: rgb(0, 82, 41)
}

option:checked {
    background-color: blue;
}

.score,
.versus {
    display: inline-block;
    margin: 0 7px;
}

.score {
    font-size: 60px;
}

.versus {
    font-size: 40px;
    vertical-align: top;
    padding-top: 12px;
}

.match {
    display: inline-block;
    vertical-align: top;
    width: 400px;
    height: 200px;
    margin: 30px;
    background-color: blue;
    border: 2px outset blue;
    border-radius: 20px;
}

.container {
    text-align: center;
}

button {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: aliceblue;
    background-color: rgb(1, 135, 83);
    border-radius: 10px;
     border-style: hidden;
    height: 50px;
    margin-bottom: 15px;
    width: 874px;
}

@media(max-width:947px){
    .match {
        width: calc(80%);
        margin: 30px auto;
        min-width: 400px;
    }

    button {
        width: calc(100% - 60px);
    }
}

hr{
    margin-bottom: 0px;
}


button:hover {
    cursor: pointer;
    background-color: rgb(0, 82, 41);
}


footer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 5px;
}

#super6{
    display: block; 
}

.link{
    color: black; 
}

#s6button:hover{
    transform: scale(1.1);
}

#infoPage{
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-transform: none;
    color: black;
}

.column{
    max-width: 991px;
    margin: 0px auto;
    text-align: left;
    color: rgb(0, 0, 167);
    font-size: 40px;
    padding: 10px;
    font-weight: 600;
}

.info{
    margin-top: 0;
    text-align: left;
    background-color: aliceblue;
    border-radius: 2px;
    color: black;
    font-size: 16px;
    font-weight: 450;
}

.title{
    margin-top: 20px;
}

.noSpacing{
    margin: 0px;
}

#bottom{
    margin-top: 0;
    text-align: left;
    background-color: aliceblue;
    border-radius: 2px;
    color: black;
    font-size: 16px;
    font-weight: 450;
    margin-bottom: 50px;
}

.poissonChart {
    display: block;
    margin: 0 auto;
}

.poissonChart {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}